/* GLOBAL RESETS */
* {box-sizing: border-box;}

// VARIABLES
$color-background: white;
$color-text-body: rgba(0,0,0,.8);
$color-text-headings: rgba(0,0,0,1);
$color-link: #06d6a0;
$color-light: #06d6a0;
$color-link-darker: #ef476f;

@font-face {
  font-family: 'Savate';
  src: url(/fonts/savate-regular.otf);
}

$font-family: 'Savate', Helvetica, Arial, Helvetica, sans-serif;
$font-family-sans: 'Poppins', Georgia, serif;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;


// IMPORTS
@import "partials/toc";
@import "partials/typography"; 
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";

body {
  background: $color-background;
}
